{% extends 'base.html' %}

{% block meta %}
<title>Create Task</title>
{% endblock meta %}

{% block content %}
<body style = "background-color :blanchedalmond">
  <h2 class="text-success container-fluid">Tambah Task</h2>
  <div class="card text-bg-success mb-3" style="width: 25rem;">
      <form class="text-center fw-bold" action="{% url 'todolist:create_task' %}" method="post">
      <div class="card-body">
        <h5 class="card-title">Tambah Task</h5>
        <p class="card-text">{% csrf_token %} {{form.as_p}}</p>
        <input class="btn btn-outline-dark"type="submit" value="Submit" />
      </div>
      </form>
    </div>
  
</body>

{% endblock content %}