{% extends 'base.html' %}

{% block meta %}
<title>Login</title>

{% endblock meta %}

{% block content %}
<body style = "background-color :blanchedalmond">
    <div class = "login container-fluid">
    
        <h1 class="text-center fs-1 fw-bold text-primary">Login</h1>
    
        <form method="POST" action="">
            {% csrf_token %}
            <table>
                <tr>
                    <td class="text-primary fw-bold">Username: </td>
                    <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
                </tr>
                        
                <tr>
                    <td class="text-primary fw-bold">Password: </td>
                    <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
                </tr>
    
                <tr>
                    <td></td>
                    <td><input class="btn btn-outline-primary" type="submit" value="Login"></td>
                </tr>
            </table>
        </form class = "text-center">
    
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}     
            
        Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>
    
    </div>
    
</body>

{% endblock content %}