{% extends 'base.html' %}

{% block meta %}
<title>Tugas 4 Assignment PBP</title>
{% endblock meta %}

{% block content %}  
<body style = "background-color :blanchedalmond">
  <h1 class="text-center text-primary fw-bold">Tugas 4 Assignment PBP/PBD To Do List</h1>
  <h4 class="fw-bold container-fluid">Name: {{nama}}</h4>
  <h4 class="fw-bold container-fluid">Student ID: {{NPM}}</h4>  
  
  <div class="container-fluid">
    <button class="btn btn-outline-warning"><a href="{% url 'todolist:create_task' %}">Tambah Task Baru</a></button>
    <button class="btn btn-outline-warning text-center" ><a href="{% url 'todolist:logout' %}">Logout</a></button>
  </div>

  <div class="container-fluid">
    {% for item in todolist %}
    <div class="card border-primary mb-3" style="width: 25rem;">
      <div class="card-body" style="display:inline-block; vertical-align : middle;"> 
        <h5 class="card-title">{{item.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{item.date}}</h6>
        <p class="card-text">{{item.description}}</p>
        {% if item.is_finished %}
        <p class="card-text">Selesai</p>
        <button class="btn btn-outline-warning"><a href="{% url 'todolist:set_task' item.pk %}">Mark Undone</a></button>
        {% else %}
        <p class="card-text">Belum Selesai</p>
        <button class="btn btn-outline-warning"><a href="{% url 'todolist:set_task' item.pk %}">Mark Done</a></button>
        {% endif %}
        <button class="btn btn-outline-warning"><a href="{% url 'todolist:delete' item.pk %}">Hapus Task</a></button>
        {% endfor %}
      </div>
    </div>
    <div>
    </div>
  </div>
  
</body>
{% endblock content %}  